.nav-wrapper {
  font-family: 'Merienda', cursive;
}
nav .brand-logo {
  padding-left: 20px;
}
body { 
  background-image: url("../img/bg.jpg");
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer {
  font-family: 'Merienda', cursive;
  padding: 10px 20px 10px 20px;

}
p{
  font-family: 'Alegreya', serif;
}
.container {
  background-color: rgba(232, 234, 246, 0.30);
  color: white;
  text-shadow: 1px 1px 2px #000000, 0 0 25px #ff4081, 0 0 5px #880e4f;
  font-family: 'Merienda', cursive;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
#scrape-btn {
  font-family: 'Merienda', cursive;
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  color: white;
  /* font-family: 'Dancing Script', cursive; */
  /**/
  /*  font-family: 'Courgette', cursive;*/
  /*  */
  font-family: 'Merienda', cursive;
  text-align: center;
}
#articles {
  padding-left: 20px;
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 500px;
  font-family: 'Alegreya', serif;
  color: white;
  background-color: rgba(97, 106, 107, 0.50);
}
#notes {
  float: right;
  width: 30%;
  color: #424242;
  /* font-family: 'Satisfy', cursive; */
  font-family: 'Cookie', cursive;
}
#savenote {
  background-color: #f48fb1;
  color: white;
  font-family: 'Merienda', cursive; 
}

h2 {
  color: white;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: RGB(254, 249, 231);
}

input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
